

.Container_Fed{
  background-color: white;
  width: 100%;
  padding: 1%;
}

.Row{
  background-color: rgb(227, 236, 193);
  width: 100%;
  margin: 1%;
}

.col{
  background-color: white;
  margin: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.Footer{
  background-color: black;
  width: 100%;
}
.Footer_Cols{
  background-color: black;
}
.Footer_Rows{
  background-color: black;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.Footer_SocialMedia{
  background-color: black;
  color: white;
  margin: 1%;
}
.Footer_Text_ColibriesIt{
  background-color: black;
  color: grey;
  text-align: center;
}

.Maps_Container{
  background-color: white;
  max-width: 600px;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color:black;
  color: white;
}
